*{
    padding: 0;
    margin: 0;
    font-family: 'Spline Sans Mono', monospace;
}

/*TOPO*/
#topo{
    background-color: black;
    width: 100%;
    height: 90px;
}

#logo{
    max-width: 100px;
    max-height: 80px;
    margin-left: 20%;
    width: auto;
    height: auto;
    float: left;
}
#textologo{
    margin-top: 40px;
    color: #7B68EE;
    float: left;
    display: flex;
}

#topob{
    background-color: black;
    width: 100%;
    height: 10px;
}
#hrtopo{
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 3px solid #7B68EE;
}

/*NAV*/
.nav{
    margin-top: 45px;
    margin-right: 20%;
    float: right;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #7B68EE;
}

/*CAIXINHA*/
#corpo-form{
    width: 100%;
    height: 800px;
    background-image: url(../img/fundosite2.jpg);
    padding-top:50px;
}

form{
    width: 1000px;
    height: 530px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    background-color: black;
    opacity: 0.9;
    color:white;
}

.ft{
    margin-top: 20px;
    max-height: 200px;
    width: 900px;
    height: auto;
    object-fit:cover;
}

/*FOOTER*/
footer {
    bottom: 0px;
    width: 100%;
    background-color: black;
}

.redes {
   width: 100%;
   height: 50px;
   text-align: center;
   padding: 10px;
}
.redes ul li {
   text-transform: uppercase;
   list-style-type: none;
   display: inline;
   margin-left: 50px;
   margin-right: 50px;
}

.redes ul li a{
    color: white;
    text-decoration: none
}

.redes ul li a:hover{
    color: #7B68EE;
}