*{
    padding: 0;
    margin: 0;
    font-family: 'Spline Sans Mono', monospace;
}

/*TOPO*/
#topo{
    background-color: black;
    width: 100%;
    height: 90px;
}

#logo{
    max-width: 100px;
    max-height: 80px;
    margin-left: 20%;
    width: auto;
    height: auto;
    float: left;
}
#textologo{
    margin-top: 40px;
    color: #7B68EE;
    float: left;
    display: flex;
}

#topob{
    background-color: black;
    width: 100%;
    height: 10px;
}
#hrtopo{
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 3px solid #7B68EE;
}

/*NAV*/
.nav{
    margin-top: 45px;
    margin-right: 20%;
    float: right;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #7B68EE;
}

#corpocarousel{
    background-color: #7B68EE;
}

#carousel{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.carouselimage{
    max-width: 100%;
    max-height: 800px;
    width: auto;
    height: auto;
}

.carousel-item{
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
}

/*BASE*/

.base{
    width: 100%;
    height: 900px;
    background-image: url(../img/fundosite2.jpg);
    padding: 50px;
}

.container{
    width: auto;
    height: 800px;
    background-color: black;
    opacity: 0.9;
}

/*DROPDOWN*/
.dropdown{
    padding-top: 70px;
    padding-left: 70px;
}

.dropdown h6{
    display: inline-block;
    color: white;
}

/*CARD*/
#corpocursos{
    display: flex;
    padding-bottom: 50px;
    padding-left: 50px;
}

.corpo-card{
    border:1px solid black;
    background-color: black;
    border-radius: 4px;
    width: 300px;
    height: auto;
    color: white;
    margin: 20px;
}

.text-card{
    padding: 15px;
}

.card-title{
    font-size: 20px;
}

.card-text{
    font-size: 14px;
}

.botao-card{
    background-color: transparent;
    border: 1px solid #7B68EE;
    border-radius: 8px;
    color: white;
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
}

.botao-card:hover{
    background-color: #7B68EE;
}

#card-alto{
    width: auto;
    height: 200px;
}

/*FOOTER*/
footer {
    bottom: 0px;
    width: 100%;
    background-color: black;
}

.redes {
   width: 100%;
   height: 50px;
   text-align: center;
}
.redes ul li {
   text-transform: uppercase;
   list-style-type: none;
   display: inline;
   margin-left: 50px;
   margin-right: 50px;
}

.redes ul li a{
    color: white;
    text-decoration: none
}

.redes ul li a:hover{
    color: #7B68EE;
}